[submodule "etreprof-backend"]
	path = etreprof-backend
	url = https://github.com/synlab-fr/etreprof-backend.git
[submodule "etreprof-frontend"]
	path = etreprof-frontend
	url = https://github.com/synlab-fr/etreprof-frontend.git
